<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vincent.sqlitedatabasepractice" >

    <permission android:name="org.example.android.friends.provider.READWRITE"/>
    <uses-permission android:name="org.example.android.friends.provider.READWRITE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider android:name="com.example.vincent.sqlitedatabasepractice.database.FriendsProvider"
                  android:authorities="org.example.android.friends.provider"
                  android:exported="true"
                  android:readPermission="org.example.android.friends.provider.READWRITE"
                  android:writePermission="org.example.android.friends.provider.READWRITE"/>
    </application>





</manifest>
